<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Home page</title>
    <link rel = "icon" href = 
"https://st4.depositphotos.com/5040187/19667/v/380/depositphotos_196671168-stock-illustration-logo-swoosh-ellipse-green-letter.jpg?forcejpeg=true" 
        type = "image/x-icon">
    {{>header}}
</head>
<body>
    <div class="big">
        <div class="navbar" style="text-align: centre;"><div class="heading"><h1 > Job<br>Hub</h1></div>
        <div class="container">
			<nav class="Bar">
				<ul>
                        
                        <li class="active"><a href="/indexA">Home</a></li>
                        <li class="active"><a href="/add_jobs">Add Job profile</a></li>
						<li><a href="/show_applicants">View Job applications</a></li>
                        <li><a href="/logout">logout</a></li>
                    <a href="/profile"><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="profile" width="30px" height="30px"></a>
				</ul>
			</nav><br><br><br><br>
            <div class="row">
                <div class="col-1">
                    <h2>Welcome to Job Hub </h2>
                    <h3>The place where talent meets<br>its expectations</h3>
                </div>
                <img src="https://img.freepik.com/free-vector/hiring-recruitment-process_23-2148624691.jpg" alt="job" class="job">
            </div>
		</div><br><br>
    </div>
    </div>
</body>
</html>
