<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Home Page</title>
    <link rel = "icon" href = 
"https://st4.depositphotos.com/5040187/19667/v/380/depositphotos_196671168-stock-illustration-logo-swoosh-ellipse-green-letter.jpg?forcejpeg=true" 
        type = "image/x-icon">
    {{>header}}
</head>
<body>
    <div class="big">
        <div class="heading" ><h1 >Job Hub</h1></div>
        <div>
			<nav >
				<ul>
					
                        <li class="active"><a href="/indexJ">Home</a></li>
                        <li class="active"><a href="#">See Jobs and apply</a></li>
						
                        
                        <li><a href="/loginJ">logout</a></li>
                    
				</ul>
			</nav><br><br><br><br>
            <div class="row">
                <div class="col-1">
                    <h2>Welcome to Job Hub </h2>
                    <h3>The place where talent meets<br>its expectations</h3>
                </div>
                <img src="https://images.squarespace-cdn.com/content/v1/5a4cec64a803bb1a5d9a5b9e/1516296657713-GAKBTV0MVZ3ZF1KMEFBY/Applicationprocess_words.jpg?format=1000w" alt="job" class="job">
            </div>
		</div><br><br>
    </div>
    </div>
</body>
</html>