<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> Login For New applicant </title>
		<link rel = "icon" href = 
"https://st4.depositphotos.com/5040187/19667/v/380/depositphotos_196671168-stock-illustration-logo-swoosh-ellipse-green-letter.jpg?forcejpeg=true" 
        type = "image/x-icon">
		{{>header}}		
	</head>
	<body>
		<div><nav class="nav 2">
			<ul>
				<li ><a href="/"> Back to Home</a></li>
			</ul>
		</nav></div>
	</br></br></br></br></br>
		
		<div align="center">
		<div align="center" class="border">
			<div class="heading">
				<h1 > Job Hub </h1>
			</div></br>
			<div class="subhead"><h2 id="sub">The place where your talent meets your expectations<br>
				</h2></div>
			
				<div class="sign-in">
					
					<h2 id="head">Login</h2>
                    <h4>For New applicant</h4>
				<form action="/loginJ" method="post" autocomplete="off">
					<input id="emailJ" name="emailJ" type="text" placeholder="Enter Your Email Id" class="textbox"/></br></br>
					<input id="passwordJ" name="passwordJ" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
					<input type="submit" class="btn" value="Sign In"></br></br>
				</form>
			
		</div>
			<p id="info1">Dont't have an account? <a class="bottom" href="/registerJ"> Sign up here</a></p>
		</div>
	</div>
	</body>
</html>


