<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for New applicant</title>
	<link rel = "icon" href = 
"https://st4.depositphotos.com/5040187/19667/v/380/depositphotos_196671168-stock-illustration-logo-swoosh-ellipse-green-letter.jpg?forcejpeg=true" 
        type = "image/x-icon">
	{{>header}}
</head>
<body>
	<div><nav class="nav 2">
			<ul>
				<li><a href="/"> Back to Home</a></li>
			</ul>
		</nav></div><br><br><br><br>
    <div align="center">
		<div align="center" class="border">
			<div class="heading"><h1>Job Hub</h1> </div>
			<div id="subhead">
				<h2 id="sub">
					The place where your talent meets your expectations<br>
					
				</h2>
			</div></br></br></br>
            <div class="sign-up">
				<h2>Sign up</h2> <h4>for new applicant</h4>

				<form action="/registerJ" method="post">
					<div id="msg" class="message">{{message}}</div>
					<input id="nameJ" name="nameJ" type="text" placeholder="Enter Your name" class="textbox" /></br></br>
					<input id="username" name="username" type="text" placeholder="Enter Your Username"
						class="textbox" /></br></br>
					<input id="passwordJ" name="passwordJ" type="password" placeholder="Enter Your Password"
						class="textbox" /></br></br>
					<input id="ConfirmpasswordJ" name="ConfirmpasswordJ" type="password" placeholder="Confirm Your Password"
						class="textbox" /></br></br>
					<input id="emailJ" name="emailJ" type="text" placeholder="Enter Your Email ID"
						class="textbox" /></br></br>
                        <input type="submit" class="btn" value="Sign Up"></br>
                    </form>
    
                </div>
                <p id="info">Already have an account? <a class="bottom" href="/loginJ"> Sign in here</a></p>
            </div>
        </div>
</body>
</html>
