<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Applicants</title>
    <link rel = "icon" href = 
"https://st4.depositphotos.com/5040187/19667/v/380/depositphotos_196671168-stock-illustration-logo-swoosh-ellipse-green-letter.jpg?forcejpeg=true" 
        type = "image/x-icon">
    {{>header}}
</head>
<body>
    <div class="header"><h1 id="heading">Job applications</h1></div>
    <div class="navbar">
       <nav class="bar">
        <ul>
            <li ><a href="/indexA">Back to Home</a></li>
            <li class="active"><a href="/add_jobs">Add Job Profiles</a></li>
            <li><a href="/logout">Log out</a></li>
            <a href="/profile"><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="profile" width="30px" height="30px"></a>
        </ul></nav> 
    </div><br><br>
    <div align="center">
        <div align="center" class="border">


            
            <h2 class="bottom" style="text-align: centre;">
                See applications
            </h2></br>
            <div class="border">
                <table class="worddark"></br></br></br></br>
                    <tr>
                        <td id="c3">Name</td>
                        <td id="c4">Job Profile</td>
                        <td id="c5">Contact Number</td>
                        <td id="c6">Email Id</td>
                        
                    </tr>
                    {{#each posts}} 
                    <tr>
                        <td id="c1"> {{this.Name}}</td>
                        <td id="c2"> {{this.jprofile}}</td>
                        <td id="c7"> {{this.phoneno}}</td>
                        <td id="c8"> {{this.emailId}}</td>
                    </tr>

                    {{/each}}   
                </table>
            </div>
        </div>
</body>
</html>
